# Ignore Python virtual environments
venv/
ENV/
env/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore VS Code settings
.vscode/